<div class="main-container">
  <div class="outer-container">
    <div class="nav-container">
      <button mat-raised-button routerLink="/change-value">
        Go to Change Value Component
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="inner-container">
      <mat-form-field class="output-form-field" appearance="outline">
        <label for="theValue">Current value is:</label>
        <input
          id="theValue"
          matInput
          type="number"
          disabled
          [value]="value$ | async"
        />
      </mat-form-field>
    </div>
  </div>
</div>
