html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f2f2f2;
}

.main-container {
  display: flex;
  justify-content: center;
  padding-top: 10rem;

  .outer-container {
    display: inherit;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 30rem;
    height: 13rem;
    background-color: #fff;
    border-radius: 1rem;

    mat-divider {
      width: 80%;
    }

    .inner-container {
      display: inherit;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 5rem;

      .output-form-field {
        width: 10rem;
      }
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
