<div class="main-container">
  <div class="outer-container">
    <div class="nav-container">
      <button mat-raised-button routerLink="/display-value">
        Go to Display Component
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="inner-container">
      <div class="left-container">
        <button mat-raised-button color="primary" (click)="increment()">
          Increment
        </button>
        <button mat-raised-button color="warn" (click)="decrement()">
          Decrement
        </button>
      </div>
      <div>
        <mat-form-field class="output-form-field" appearance="outline">
          <label for="num">Num</label>
          <input
            id="num"
            matInput
            type="number"
            [(ngModel)]="value"
            (ngModelChange)="setValue($event)"
          />
          <button
            *ngIf="value > 0 || value < 0"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="resetValue()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
